<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.linjiang.flutter.wx">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".WXPayEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
